.container-flex {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  width: 100%;
  height: 100%;
  display: flex;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* left side container start  */
.LoginPage-main-left {
  height: 100%;
  background-color: #387373;
  justify-content: center;
  align-items: center;
}
.hazard-LoginPage-header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #0a1313; */
  height: 20%;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 4%;
}
.hazard-LoginPage-header-title {
  font-size: 2rem;
  text-align: center;
  font-weight: bolder;
  color: #e4f2e7;
}
.hazard-LoginPage-description-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: #eaf7f7; */
  height: 42%;
  width: 100%;
  margin-bottom: 2%;
}
.hazard-LoginPage-header-description {
  color: #e4f2e7;
  font-size: 1.3rem;
  font-weight: bolder;
  text-align: justify;
}
.hazard-LoginPage-line-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #e4f2e7;
  height: 2%;
  width: 100%;
  margin-bottom: 5%;
}

.hazard-LoginPage-circle-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: #eaf7f7; */
  height: 15%;
  width: 100%;
  margin-left: 1%;
}
.hazard-LoginPage-circle1 {
  width: 10vmin;
  height: 10vmin;
  max-width: 200px;
  max-height: 200px;
  background-color: #e4f2e7;
  border-radius: 50%;
  margin-left: 5%;
}
.icon {
  font-size: 6vh;
  color: #387373;
}
.hazard-LoginPage-circle {
  width: 10vmin;
  height: 10vmin;
  max-width: 200px;
  max-height: 200px;
  background-color: #e4f2e7;
  border-radius: 50%;
  margin-left: 4%;
}
/* left side container end  */
.LoginPage-main-right {
  height: 100%;
  background-color: #ffffff;
}
.hazard-LoginPage-heading-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #bdc2c2; */
  height: 15%;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.hazard-LoginPage-heading-title {
  color: #387373;
  font-size: 8vh;
  font-weight: bolder;
  text-align: justify;
}
.hazard-LoginPage-heading-line-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #387373;
  height: 3%;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 5%;
}
.hazard-LoginPage-radio-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: #bdc2c2; */
  height: 10%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}
.hazard-LoginPage-radio-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hazard-LoginPage-radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #387373;
  font-size: 4vh;
  font-weight: bolder;
}

.hazard-LoginPage-radio-label input[type="radio"] {
  display: none; /* Hide the native radio button */
}

.hazard-LoginPage-custom-radio {
  width: 20px;
  height: 20px;
  border: 2px solid #387373;
  border-radius: 50%;
  position: relative;
  margin-right: 8px;
}

.hazard-LoginPage-radio-label
  input[type="radio"]:checked
  + .hazard-LoginPage-custom-radio {
  background-color: #387373; /* Change the color when checked */
}

.hazard-LoginPage-radio-label
  input[type="radio"]:checked
  + .hazard-LoginPage-custom-radio::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #dfeee3;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hazard-LoginPage-text-box {
  justify-content: flex-start;
  align-items: center;
  /* background-color: #bdc2c2; */
  height: 10%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 4vh;
  margin-bottom: 2%;
}
.hazard-LoginPage-input-text-box::placeholder {
  color: #387373;
  /* Adds  color to the placeholder text */
  opacity: 50%;
}
.hazard-LoginPage-input-text-box {
  height: 100%;
  width: 100%;
  font-size: 5vh;
  border-radius: 4vh;
  margin-top: 3%;
  margin-bottom: 3%;
  border: 0.5vh solid #387373;
  font-weight: bold;
  color: #387373;
}
.hazard-LoginPage-login-button-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #bdc2c2;
  height: 10%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2%;
  border-radius: 6vh;
}
.hazard-LoginPage-login-button {
  height: 100%;
  width: 100%;
  border-radius: 6vh;
  background-color: #387373;
  color: #e4f2e7;
  font-size: 6vh;
  font-weight: bolder;
  border-width: 0;
}

.hazard-LoginPage-login-button:hover {
  background-color: #0a3030;
}
.hazard-LoginPage-register-button-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #bdc2c2;
  height: 10%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2%;
  border-radius: 6vh;
}
.hazard-LoginPage-signup-button {
  background-color: #387373;
  color: #e4f2e7;
  width: 100%;
  height: 100%;
  font-weight: bolder;
  font-size: 6vh;
  border-radius: 6vh;
  border-width: 0;
  text-align: center;
}

.hazard-LoginPage-signup-button:hover {
  background-color: #0a3030;
}
.hazard-LoginPage-forgot-label-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #bdc2c2; */
  height: 6%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2%;
}
.hazard-LoginPage-forgot-label {
  color: #387373;
  font-size: 4vh;
  font-weight: bolder;
  cursor: pointer;
}
