body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* ..........left side design start.......... */

.ResetPassword-main {
  background-color: white;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.ResetPassword-header-box-img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #e4f8f8; */
  height: 30%;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
 
}
.ResetPassword-header-box-img h1 {
   color: #387373;
   font-size: 20vh;
   margin-bottom: 5%;
  }

.ResetPassword-header-box-title h1 {
    color: #387373;
    font-size: 10vh;
    font-weight: bolder;
    text-align: center;
   }

.ResetPassword-header-box-description p{
  font-weight: bolder;
  text-align: justify;
  color: #387373;
  font-size: 1rem;
  margin-bottom: 2%;
  margin-top: 2%;
}
/* .ResetPassword-textbox  {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: #e4f8f8;
  height: 30%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  margin-top: 2%;
  
} */

.ResetPassword-textbox-input{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 8vh;
  font-weight: bolder;
  
}


/* Unique styles for the custom email input */
.ResetPassword-email-textbox {
  height: auto; /* Adjusted for better alignment */
  width: 60%;
  font-size: 3vh;
  border-radius: 2vh;
  margin-top: 3%;
  margin-bottom: 3%;
  border: 0.5vh solid #387373;
  font-weight: bold;
  color: #387373;
  padding: 0.75rem;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: #387373;
}

.ResetPassword-email-textbox:hover {
  border: 0.5vh solid #387373;
}

.form-floating > .ResetPassword-email-textbox {
  padding: 1.5rem 0.75rem 0.375rem;
  color: #387373;
  margin-left: 20%;
  margin-right: 20%;
}

/* Unique styles for the label */
.ResetPassword-email-label {
  color: #387373;
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 0.75rem;
  margin-left: 20%;
  margin-right: 20%;
}
.ResetPassword-sumbit-button{
  background-color: #387373;
  font-size: 4vh;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  font-weight: bolder;
  color: #eaf7f7;
  border: .5vh solid #387373;
}
.ResetPassword-sumbit-button:hover{
  background-color: #052020;
  border: .5vh solid #052020;
  color: #eaf7f7;
}

.ResetPassword-back{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
}

.ResetPassword-back p{
  color: #387373;
  font-weight: bolder;
  font-size: 4vh;
  cursor: pointer;
}